
@font-face {
  font-family: 'poppins';
  src: url("../../assets/videos/bannervideo.mp4") format(woff2);
}
.body{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  transition: 0.5s;
  font-family: sans-serif;
}


.video-bg{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1;
  object-fit: cover;

}

.bg-overlay{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
}

.nav-dis{
  position: absolute;
  top: 0;
  
}

.banner-container{
  width: 1260px;
}

.bannertop{
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  
}

.round-shape {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: dotted 8px #FA7225;
  position: absolute;
  top: 0;
  left: 0;
  animation: rotate 15s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
